.task-form h2{
    margin-bottom:20px;
    color:#111827;
    font-size:24px;
}

.task-form input,
.task-form textarea{

    width:100%;

    padding:11px;

    border:1px solid #d1d5db;

    border-radius:12px;

    font-size:15px;

    margin-bottom:18px;

    outline:none;

    transition:.25s;
}

.task-form input:focus,
.task-form textarea:focus{

    border-color:#2563eb;

    box-shadow:0 0 0 3px rgba(37,99,235,.12);

}

.task-form textarea{

    min-height:90px;

    resize:vertical;

}

.task-buttons{

    display:flex;

    gap:12px;

}

.save-btn{

    background:#2563eb;

    color:white;

    border:none;

    padding:12px 22px;

    border-radius:10px;

    font-size:15px;

    font-weight:600;

    cursor:pointer;

    transition:.25s;
}

.save-btn:hover{

    background:#1d4ed8;

}

.cancel-btn{

    background:#ef4444;

    color:white;

    border:none;

    padding:12px 22px;

    border-radius:10px;

    font-size:15px;

    font-weight:600;

    cursor:pointer;

    transition:.25s;
}

.cancel-btn:hover{

    background:#dc2626;

}